/node_modules
/public_html/hot
/public_html/storage
/public_html/mix-manifest.json

/storage/*.key
/storage/*.json

/vendor

.env
.phpunit.result.cache

npm-debug.log
yarn-error.log
.idea
.php-cs-fixer.cache
xdebug.log


**/.claude/settings.local.json
