@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "suggestions.css";

#dev {
    font-size: 75px;
}
body{
    overflow-y: auto !important;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monsterrat';
    src: url("../fonts/Montserrat-Medium.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos';
    src: url("../fonts/GolosText-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

.money-slider-css .noUi-handle::before,
.money-slider-css .noUi-handle::after {
    display: none;
}

.money-slider-css .noUi-handle{
    box-shadow: none;
    height: 25px;
    width: 25px;
    top: -10px;
    right: -13px; /* half the width */
    @apply border-4 border-red rounded-2xl;
}

.money-slider-css .noUi-connect {
    @apply bg-red;
}

.money-slider-css {
    height: 6px;
}

html {
    scroll-behavior: smooth;
}



